{% extends 'base.html' %}
{% load static %}

{% block title %}
Add Note
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/addnote.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="title">
            <label for="title">TITLE : </label>
            <input type="text" id="title" name="title" placeholder="Enter Title" required>
        </div>
        
    
       
            
        <label for="note"></label>
        <textarea name="content" id="note" placeholder="Write your note here.."></textarea>
        
        <div class="commands">
            <a href="/" class="btn">Back</a>
            <input type="submit" value="Save" class="btn">
            <input type="reset" value="Reset" class="btn">
        </div>
    </form>
</div>

{% endblock %}





<form action="">

    <label for="user_name">username</label>
    <input type="text" name="username" id="user_name">


    <label for="">
        <span>password</span>
        <input type="password" id="">
    </label>

</form>